.preview {
    position: relative;
    width: 100%;
    height: 70dvh;
    min-height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transform-origin: bottom;
    animation: zoomOut .5s ease forwards;

    box-shadow: inset 0 -5px 10px 0 $color-opacityblack;

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        backdrop-filter: brightness(.6);
    }

    &__title {
        margin-top: auto;
        text-transform: uppercase;
    }

    &__secondary {
        display: flex;
        gap: 10px;

        &--block {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &--img {
            filter: invert(180);
            height: 15px;
        }

        &--info {
            text-transform: uppercase;
        }
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}