// FontSizes

$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 24px;

$color-black: #080808; // Мягкий чёрный
$color-white: #e7e7e7; // Тёплый белый
$color-opacitygrey: #ffffff10;
$color-opacityblack: #00000050